[user]
	name = wat-aro
	email = kazutas1008@gmail.com
[core]
	editor = emacs
	precomposeunicode = true
	quotepath = false
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[push]
	default = matching
[alias]
	co = checkout
	st = status
	br = branch
	ci = commit
  puf = push --force-with-lease
[rerere]
	enabled = true
