*~
*.dat
.cask/
history
recentf
auto-save-list/
backups/
places
shellenv.el
url
rake.cache
projectile-bookmarks.eld
elpa
tramp
cache
.tern-port
vendor/bundle
node_modules/
.slime/
smex-items
jisyo.bak
*.elc
*emacs-id
tags
.byebug_history
.config/direnv
hub
.mc-lists.el
.bundle/
.stack-work/
fisherman/
shellenv.el
fishd*
.DS_Store
elm-stuff
.envrc