*~
*.dat
.cask/
history
recentf
auto-save-list/
backups/
places
shellenv.el
url
rake.cache
projectile-bookmarks.eld
elpa
tramp
cache
.tern-port
vendor/bundle
node_modules/
.slime/
smex-items
jisyo.bak
*.elc
*emacs-id
tags
.byebug_history
.config/direnv
hub
.mc-lists.el
.bundle/
.stack-work/
fisherman
shellenv.el
fishd*
.DS_Store
elm-stuff
.env
.envrc
.pryrc
.dir-locals.el
elmjutsu-config.json
.lsp-session*
automatic_backups
annotations
bookmarks
image-dired
semanticdb
transient
brittany
configstore
.config/fcitx
.config/dconf
.config/gconf
.config/google-chrome
.config/monitors.xml
.config/pulse
.config/systemd
.config/autostart
.devcontainer
.vscode
docker-compose.override.yml
xmonad.errors
xmonad-x86_64-linux
xmonad.hi
xmonad.o
straight
.config/albert
.config/fish/fish_variables
