[user]
	name = wat-aro
	email = kazutas1008@gmail.com
[core]
	editor = emacsclient -nw
	precomposeunicode = true
	quotepath = false
	excludesfile = /Users/wat-aro/.gitignore
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[push]
	default = matching
[alias]
	co = checkout
	st = status
	br = branch
	ci = commit
  puf = push --force-with-lease
  b = browse
  oneline = log --oneline --graph
  dc = diff --cached
  lp = log -p
[rerere]
	enabled = true
[ghq]
  root = ~/src
[url "github:"]
    InsteadOf = https://github.com/
    InsteadOf = git@github.com:
