export LC_CTYPE=ja_JP.utf-8

eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)
export SSH_AUTH_SOCK=$XDG_RUNTIME_DIR/gcr/ssh

# export GTK_IM_MODULE=xim
# export QT_IM_MODULE=ibus
# export XMODIFIERS=@im=ibus
ibus-daemon -drxR

urxvtd --quiet --fork --opendisplay &
# ~/.screenlayout/private3.sh
feh --bg-scale ~/Pictures/Wallpapers/wallpaper.jpg
xset s off -dpms
